.main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.myProfileClass {
    text-align: center;
}

.myProfileClass img {
    width: 250px;
    border-radius: 10%;
}